*.pac
Redist.txt
JadeDev.*
*.DS_Store
._*
Jade System Browser Layout.stb
Jade/Connections/*.GSS
*.ERRORS
Jade.xml
gci*trace.log
connections
Jade.exe
Jade.zip
Jade.log
gciDebug.log
Contacts.exe
runtime/bin/*

